
    html, body {
        /* background-color: #ececec; */
        background: url('https://graniplitka.ru/images/cms/data/import_files/91/910e0c972c3c11eca091005056b618db_2ce2d9142c3d11eca091005056b618db.jpg');
    }

    * {
        font-family: Bebas Neue;

    }

    h1 {
         font-size: 60px;
         color: #bf3838;
         margin: 0;
         margin-right: 40px;
    }

    .productPreview {
         width: 170px;
         height: 200px;
    }
    .productImage {
         max-width: 50%;
         max-height: 50%;
    }

    .product {
        border: 1px black solid;
        display: flex;
        height: 210px;
        margin-top: 20px;
        background-color: #f4e4f5;
        border-radius: 20px;
        padding: 10px;
        width: 80%;
    }


    .productList {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    h2 {
        width: 200px;
    }



    button {
       margin-left: auto;

   }

    .price {
        margin-left: auto;
        text-align: center;
    }
    .navigation {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         background-color: white;
         padding: 0;
         margin: 0;
    }

     .navlink {
        margin-left: 20px;
        text-decoration: none;
        color: #bf3838;
        font-size: 20px;
    }
    .productDetails {
        background: white;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        border-radius: 20px;
        border: 1px black solid;
        padding: 10px;


    }
    .productPrice {
        display: flex;
        flex-direction: row;
    }

    .productTitle  * {
        margin-top: 10px;
        font-style: normal;
        margin-bottom: 20px;
    }
    .productDescription  {
       background: white;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 20px;
        border-radius: 20px;
        border: 1px black solid;
        padding: 10px;
        color: black;
    }

    a {
        text-decoration: none;
        color: #bf3838;
    }

    .filter {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        background: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 20px;
    }

    .searchInput {
        font-size: 20px;
        border: none;
        background-color: #f4e4f5;
        border-radius: 10px;
        padding: 5px;
        width: 90%;
        margin-right: 10px;
    }
    .review {
       background-color: #f4e4f5;
       padding: 10px;
       border-radius: 10px;
     }

     .createReview{
          display: flex;
          flex-direction: column;
     }
     .createReview * {
       margin: 0 !important;
       padding: 0 !important;
       font-size: 20px;
        border: none;
        background-color: white;
        border-radius: 10px;

     }

     .createReview input {
        background-color: #f4e4f5;
     }

     .createReview textarea {
        background-color: #f4e4f5;
     }
     .createReview button {
        width: fit-content;
        padding: 10px !important;
        border: none;
        margin-top: 10px !important;
       background-color: #f4e4f5;
       border: 1px black solid;
       margin-left: auto !important;
     }

     .paymentCard {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;

    border-radius: 20px;
    background: white;

    padding: 10px;
   }
   .vspace {
    height: 10px;
}

.paymentButton {
    width: 100%;
}
.paymentForm {
    display: flex;
    flex-direction: column;
}
.paymentForm input {
    background-color: #e0e0e0;
    padding: 5px !important;

    font-size: 20px;
    border: none;
    padding: 11px;
    border-radius: 10px;
}
.createReview select {
    background-color: #f4e4f5;
    padding: 5px !important;
}
