<h1>Yoshop</h1>

    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/aboutus">О нас</a>
    <div style="border: 1px black solid">
        <h2>Тенниска</h2>
        <img src="https://masimarvostok.ru/image/cache/catalog/168860841-1100x1100h.jpg"/>
        <p>Зелёная тенниска с коротким рукавом Masimar</p>
    </div>
    <div style="border: 1px black solid">
        <h2>Футболка</h2>
        <img src="http://www.odezhda-opt.ru/img/products_img/15SSR294_6374.jpg"/>
        <p>Красная футболка Masimar</p>
    </div>