{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

<h1><span style="color: #901b1b">Yo</span>shop</h1>

</div>

<div class="paymentCard">
    <h3>Товар: {{ product.name }}</h3>
    <img class="productImage" src="{{ product.image_url }}">
    <h3>К оплате: {{ product.price }} рублей</h3>
    <div class="vspace"></div>
    <h3>Реквезиты для перевода:</h3>
    <h3>+79611996261</h3>
    <h3>Крапивная К. А.</h3>
     <div class="vspace"></div>
    <form class="paymentForm" method="post">
        {% csrf_token %}
        <label>Адрес доставки:</label>
        <input name="address" required>
        <label>Ваше ФИО:</label>
        <input name="name" required>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <button class="paymentButton">Оплатил</button>
    </form>
</div>
<script>
function copyPhone() {
    navigator.clipboard.writeText('+79611996261');
}
</script>