
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

<h1><span style="color: #901b1b">Yo</span>shop</h1>

    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/aboutus">О нас</a>

</div>

<div class="productDetails">
    <img class="productImage" src="https://masimarvostok.ru/image/cache/catalog/168860841-1100x1100h.jpg"/>
     <div class="productTitle">
         <h1>Продукт</h1>
     <div class="productPrice">
          <p>1500 рублей</p>
          <button>Купить</button>
         </div>
     </div>
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>hfhdhfsdhfj</p>
</div>